Hi Team,<br /><br /> Please find the build details of the app version which is due and ready for release - BUILD_VERSION<br /><br />It would be great if the security review can be completed on or before DATE<br /><br />Direct Links to download : <a href='IOS_LINK'>iOS</a> <a href='ANDROID_LINK'>Android</a> <br /><br /> You can also download the release from this <a href='PAGES_LINK'>page</a>. The branch name is <span style=color:purple>BUILD_BRANCH</span> <br /><br /> Here are the list of tickets addressed in this release: <br /><br />TICKETS<br /><br />Note: There may be few more builds to fix any regression issues during the week.<br /><br />Thanks<br /> Flutter Delivery Squad
